* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  padding: 20px;
  color: white;
}

.logo {
  animation: App-logo-spin infinite 10s linear;
  height: 25px;
}

main {
  padding: 0 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table tr td {
  word-break: break-all;
}

.app {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}
